<body>
<div class="container">
  <page-title></page-title>
    <div class="row justify-content-center">
      <div class="col-3">
        <movie-list></movie-list>
      </div>
  
      <div class="col-3">
        <fav-photos>Fwuffy Kitty Photos</fav-photos>
      </div>
  
      <div class="col-3">
        <chores-list></chores-list>
      </div>
    </div>
    <head>
      <style>
      .horizontal-line {
          padding-bottom: 20px;
          border-bottom: 3px solid #8756b5; 
      }
      </style>
      </head>
      <div class="horizontal-line"></div>
    <fav-links></fav-links>
  </div>
</body>
  
 